*{
    font-family: 'Poppins', sans-serif;
    color: #021131;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* background-color: #0cda73; */
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}
.response-area {
    width: 90%;
}
form{
    margin-top: 2rem;
}
section{  
    width: 90%;
    margin: 1rem auto;
}
form button{
    /* margin-right: 0px !important; */
    cursor: pointer;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
